<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>

<%= link_to 'New Tag', new_tag_path, {:class => 'btn btn-primary'} %>

<%= render 'filter' %>
<div id="tags-content">
  <%= render 'table_content'%>
</div>