/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */
body {
    min-height: 600px;
    padding-top: 70px;
}
.form-wrapper {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    overflow: hidden;
}
.form-group {
    overflow: hidden;
}
@media (min-width: 768px) {
    .form-wrapper {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.tinymce {
    height: 400px;
}
.to-toggle {
    cursor: pointer;
    color: #337ab7;
    border-bottom: 1px dashed #337ab7;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
}
.to-toggle:hover {
    color: #23527c;
    border: none;
    text-decoration: none;
}
.btn-group-per-page {
    vertical-align: top;
    margin-top: 20px;
    margin-left: 10px;
}
.flash-block {
    border-radius: 5px;
    width: 300px;
}
.gllpLatlonPicker {
    margin: 20px 0;
}
.gllpMap {
    height: 500px;
    width: 800px;
}
.gllpSearchField {
    width: 200px;
    display: inline-block;
    margin-bottom: 15px;
}
.gllpSearchButton {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 15px;
}
.list-file-upload .caption, .list-file-upload h3 {
    margin-top: 0;
}
.list-file-upload h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
.list-file-upload .button-group {
    margin-top: 5px;
}
.list-file-upload .block-inline {
    display: inline-block;
    margin-right: 10px;
}
.list-file-upload .preview {
    min-height: 205px;
    min-width: 245px;
}
.ui-state-highlight {
    border: 4px dashed #1D67A4;
    width: 265px;
    height: 360px;
    float: left;
}
.bs-photo-lg .modal-lg {
    width: 1032px;
}
.modal-image-position {
    text-align: center;
}
.modal-body .tab-pane {
    margin-top: 10px;
}

.modal-lg .tab-content>.tab-pane {
    position: absolute;
    left: -5000px;
    top: -5000px;
}
.modal-lg .tab-content>.active {
    position: static;
}
.gllpLatlonPicker {
    margin: 0;
}
.photo-static-map {
    margin: 5px 0;
}
.padding-0 {
    padding: 0;
}
.modal-photo dd {
    margin-bottom: 5px;
}
.post-id {
    visibility: hidden;
    display: none;

}
.col-posts .tag-editor .tag-editor-tag, .col-posts .tag-editor .tag-editor-delete {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #ffffff;
}
.col-posts .tag-editor .tag-editor-delete i {
    color: #ffffff;
    position: relative;
    top: -2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: none;
    font-size: 10px;
    left: -2px;
}
.col-posts .tag-editor .tag-editor-delete i:before {
    content: "\e014";
}
.nested_messages {
    margin-left: 30px;
}

.nested_messages .nested_messages .nested_messages .nested_messages {
    margin-left: 0;
}
.category-h4 {
    display: inline-block;
}
.category-li {

}
.category-li .btn {
    margin-top: -4px;
}
.category-level {

}
.category-level input[type=checkbox] {
    position: relative;
    top: -1px;
    margin-right: 1px;
}
.category-level-1 {margin-left: 0}
.category-level-2 {margin-left: 10px}
.category-level-3 {margin-left: 20px}
.category-level-4 {margin-left: 30px}
.category-level-5 {margin-left: 40px}
.category-level-6 {margin-left: 50px}
.category-level-7 {margin-left: 60px}