// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.size {
  width: 300px;
}
td.start {
  width: 120px;
  text-align: right;
}